@model IdentityMicroservice.Models.ChangePasswordRequestModel

@{
    ViewData["Title"] = "ChangePassword";
}
 

@{
    if (ViewBag.Errors is not null)
    {
        if (string.IsNullOrEmpty(ViewBag.Errors))
        {
            <div class="alert alert-success">
                <h1 class="h1">You have changed your password successfully!</h1>
                <a href="https://localhost:9000">Go to home!</a>
            </div>
        }
        else
        {
            <div class="alert alert-danger">
                <h3>We could not change the password due to @ViewBag.Errors</h3>
                <a href="https://localhost:9000">Go to home!</a>
            </div>
        }
    }
}



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,96L60,117.3C120,139,240,181,360,186.7C480,192,600,160,720,160C840,160,960,192,1080,192C1200,192,1320,160,1380,144L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<div class="container form-container bg-dark">
    <div class="row">

        <div class="form col-6">

            <h1 class="text-white">Change password</h1>
            <hr class="bg-white"/>

            <form method="post" asp-action="ChangePassword" class="mt-5">
 
                <div class="form-group mb-5">
                    <label asp-for="OldPassword" class="control-label text-white"></label>
                    <input asp-for="OldPassword" class="form-control bg-dark text-white" placeholder="Old password">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group mb-5">
                    <label asp-for="NewPassword" class="control-label text-white"></label>
                    <input asp-for="NewPassword" class="form-control bg-dark text-white" placeholder="New password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group mb-5">
                    <label asp-for="ConfirmNewPassword" class="control-label text-white"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control bg-dark text-white" placeholder="Confirm new password">
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button class="btn-fill-animation mt-4 rounded" type="submit">Change</button>
                </div>

            </form>

        </div>

        <div class="col-6">
            <img class="fluid" src="~/images/ManDoingExerciseAndWithAPhone.png" />
        </div>

    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" class="mt-auto" viewBox="0 0 1440 320"><path fill="#5c1794" fill-opacity="1" d="M0,288L60,240C120,192,240,96,360,90.7C480,85,600,171,720,186.7C840,203,960,149,1080,133.3C1200,117,1320,139,1380,149.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

