@{
	Layout = "_Layout";
}

@{

	if (ViewBag.Errors is not null)
	{
		if (string.IsNullOrEmpty(ViewBag.Errors))
		{
			<h1>We are happy for your confirmation</h1>
			<p>Thanks for confirming your email address.</p>
			<a href="https://localhost:9000">Go to home!</a>
		}
		else
		{
			<h1>We could not confirm your email due to the following causes:</h1>

			<div class="alert alert-danger" role="alert">
				<h1>We could not confirm your email due to the following causes: @ViewBag.Errors</h1>
				<a href="https://localhost:9000">Go to home!</a>
			</div>

		}
	}

}

