
<link rel="stylesheet" href="~/css/Index.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@300&display=swap" rel="stylesheet">

<header class="page-header gradient-background mt-3">
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="text-white">Create and look for websites.</h1>
                <hr class="bg-white"/>
                <p class="fs-4 text-black">
                    If your a business person, Shopping websites help you to create your own shopping website. If your a custumer, Shopping websites help you to find what your looking for.
                </p>
            </div>
            <div class="col-md-5">
                <img src="/Images/Online shopping _Monochromatic.png" alt="header image" />
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,229.3C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</header>


<section class="feature gradient-background">
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/Transaction _Flatline.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Create your website.</h1>
                <hr class="bg-white"/>
                <p class="my-4 fs-3">
                    You can create your own website with its own name, image, location, categories and products. 
                </p>
                <ul>
                    <li class="fs-5">You are able to add the company logo.</li>
                    <li class="fs-5">You can set one or multiple locations.</li>
                    <li class="fs-5">You can create its own categories.</li>
                    <li class="fs-5">You can create its own products.</li>
                </ul>
                
                 <button type="button" class="btn-fill-animation mt-4 rounded" onclick="location.href = '';">Create a website</button>
            </div>
        </div>
    </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,229.3C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</section>

<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/Online shopping _Outline.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Find what your looking for.</h1>
                <hr class="bg-white"/>
                <p class="my-4 fs-3">
                    You can find out websites according to what you want to buy.
                </p>
                <ul>
                    <li class="fs-5"> You are able to saved your favorite websites.</li>
                    <li class="fs-5"> You can saved the product your interested in a shopping cart.</li>
                    <li class="fs-5"> You can reviews the different products.</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded" onclick="location.href = 'https://localhost:9000/v1/Routine';">Create your routine</button>
            </div>
        </div>
    </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,229.3C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</section>

<section class="feature gradient-background">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7">
                <img src="/Images/User interface_Isometric.png" />
            </div>
            <div class="col-md-5">
                <h1 class="my-3 text-white">Observe your website progress.</h1>
                <hr class="bg-white"/>
                <p class="my-5 fs-3">
                    You can see your websites progress
                </p>
                <ul>
                    <li class="fs-5">You can see your progress in the quantity of users who saved your website.</li>
                    <li class="fs-5">You can see your progress in the quantity of products that are in customers shopping carts</li>
                </ul>
                <button type="button" class="btn-fill-animation mt-4 rounded" onclick="location.href = 'https://localhost:9000/v1/Statistics';">See your statistics</button>
            </div>
        </div>
    </div>
   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,229.3C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
</section>


