<link rel="stylesheet" href="~/css/searchWebsite.css"/>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#273036" fill-opacity="1" d="M0,160L120,138.7C240,117,480,75,720,74.7C960,75,1200,117,1320,138.7L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path></svg>
    
<section class="feature bg-dark">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 card-margin">
                <div class="card search-form">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control " id="websiteCategories" onchange="updateWebsites()">
                                        </select>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                        <input type="text" placeholder="Search website name..." class="form-control" id="search" name="search">
                                    </div>
                                    <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                        <button class="btn btn-base" onclick="updateWebsites()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search">
                                                <circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
        <div class="container mb-4">
    		<div class="row align-items-center justify-content-center">
	            <div class="col-3">
    				<label class="sr-only fs-4 text-white">Order by</label>
    				<select id="orderBy" class="form-control" onchange="updateWebsites()">
    					<option value="cheap">Relevance</option>
    					<option value="expensive">Name(A-Z)</option>
    					<option value="name">Name(Z-A)</option>
    				</select>
    			</div>
    			<div class="col-3">
    				<label class="sr-only fs-4 text-white">Size</label>
    				<select id="size" class="form-control" onchange="updateWebsites()">
    					<option value="5">5</option>
    					<option value="10">10</option>
    					<option value="All">All</option>
    				</select>
    			</div>
    		</div>
    	</div>
    
    <div class=container>
		<hr class="bg-white"/>
	</div>

	<div class="container mb-4">
		<div class="row row-cols-1 row-cols-md-3 g-4" id="websitesContainer">
         
        </div>
	</div>
	
 
	<div class="container mb-4">
		<hr class="bg-white"/>
	</div>

	<div class="container mb-4">
		<div class="row">			
			<div class="col-md-4">
				<div class="row justify-content-start">
					<button id="btnPrevious"><i class="bi bi-arrow-left-circle-fill"></i></button>
				</div>
			</div>
			<div class="col-md-4 justify-content-center">
				<div class="row justify-content-center">
					<p id="index" class="text-white text-center"></p>
				</div>
			</div>
			<div class="col-md-4 justify-content-end">
				<div class="row justify-content-end">
					<button id="btnNext"><i class="bi bi-arrow-right-circle-fill"></i></button>
				</div>
			</div>
		</div>
	</div>
	 
</section>
<svg xmlns="http://www.w3.org/2000/svg" class="mt-auto" viewBox="0 0 1440 320"><path fill="#000b76" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,229.3C960,224,1200,192,1320,176L1440,160L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>







<script src="~/js/searchWebsite.js"></script>