@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpContext;

<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
	<div class="container">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon bg-white"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
			<div class="navbar-nav">

				<a class="nav-link text-white" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>



				@if (_httpContext.HttpContext.User.Identity.IsAuthenticated)
				{
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					 
				}
				else
				{
					<a class="nav-link text-white" aria-current="page">Bla</a>
					<a class="nav-link text-white">Bla</a>
					<a class="nav-link text-white">Bla</a>
					 
				}
			</div>
		</div>
	</div>
</nav> 

 